In [1]:
import pandas as pd

In [2]:
brvm = pd.read_csv("brvm.actions.csv")

In [3]:
brvm.head()

,_id,Code,Désignation,Pays,Cours précédent,Cours jour,Volume échangé,Nombre transactions,Valeur échangée,Date
0,65b223b695d22689cd9af3d8,ABJC,SERVAIR ABIDJAN CI,CI,1 380,1 380,21,5,28 305,24/01/2024
1,65b223b695d22689cd9af3d9,BICC,BICICI,CI,7 400,7 400,1,1,7 400,24/01/2024
2,65b223b695d22689cd9af3da,BNBC,BERNABE,CI,1 370,1 350,352,6,483 875,24/01/2024
3,65b223b695d22689cd9af3db,BOAB,BANK OF AFRICA BENIN ...,BJ,6 500,6 500,467,10,3 032 700,24/01/2024
4,65b223b695d22689cd9af3dc,BOABF,Bank Of Africa Burkina Faso ...,BF,6 900,6 900,140,6,960 350,24/01/2024

In [ ]:
for col in brvm.columns:
    brvm[col] = brvm[col].strip()